$h1-OnSmallDevices: 3rem
$h2-OnSmallDevices: 2.2rem
$h3-OnSmallDevices: $baseTextSize   
$h4-OnSmallDevices: $baseTextSize
    
$h1-TabletUp: 5rem
$h2-TabletUp: 2.2rem
$h3-TabletUp: $baseTextSize
$h4-OnSmallDevices: $baseTextSize

$h1-LaptopUp: 5rem
$h2-LaptopUp: 2.2rem
$h3-LaptopUp: $baseTextSize

$h1-DesktopUp: 5rem
$h2-DesktopUp: 2.6rem
$h3-DesktopUp: 1.8rem

$h1-DesktopLarge: 5rem
$h2-DesktopLarge: 2.6rem
$h3-DesktopLarge: 1.8rem