#header
  height: 50px

  .mobile-only
    display: flex
    justify-content: space-between
    .nav-toggle, .cta
      width: 50%
    .nav-toggle
      background: #fff
    .cta
      background: blue
