#hero
  background:
    image: url("../img/_layout/hero_bg.jpg")
    size: cover

  h1,
  p
    color: #fff
  
  .btn
    margin-top: $margin-2


.shape
  background: $red 
  position: relative
  &:before 
    display: block
    content: ""
    width: 100%
    padding-top: (10 / 12) * 100%

  > .inner 
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
  


@media($mobileS)
  #hero
    .col-xs-12
      transform: translateY(-33.33%)



@media($desktopL)
  #hero
    p
      font-size: 3.2rem

    .col-xs-12
      transform: translateY(-25%)