// UTILITIES
.reset-margin
    margin: 0 !important

.panel
    padding: $margin-2 0

    p:first-of-type
        margin-bottom: 2rem
    p:last-of-type
        margin-top: 0
        margin-bottom: 0
        + *
            margin-top: 2rem
            display: inline-block

.bg-secondary-color
    background: $secondaryColor
    color: #fff
    *
        color: #fff


.full-height
    min-height: 100vh
    align-items: center



// BOX ALIGNMENT
.justify-space-between
    display: flex
    justify-content: space-between

.justify-content-end
    justify-content: flex-end

.center-vertically
    display: flex
    align-items: center

.center-horizontally
    display: flex
    flex-direction: column
    align-items: center




// TEXT ALIGNMENT
.text-center
    text-align: center

.text-right
    text-align: right

.text-padded
    background: #fff
    box-shadow: 10px 0 0 white, -10px 0 0 white

// HIDING
.tablet-only
    display: none

.desktop-only
    display: none



// BREAKPOINTS
@media($tablet) and (max-width: 1023px)
  .mobile-only
      display: none !important

  .tablet-only
      display: block

@media($laptop)
    .mobile-only
        display: none !important
    .desktop-only
        display: block
    .panel
        padding: 4rem 0
    .flex-container
        display: flex

@media($desktop)
    .panel
        padding: 8rem 0

.two-column
    column-count: 2
    column-gap: 2rem
    padding: 0 !important
