// COLORS
$yellow: #f8b572
$red: #cc3e1f
$darkRed: #a62508
$purple: #714e52

$black: #444
$primaryColor: $red
$secondaryColor: $purple


// TYPOGRAPHY
$primaryFont: 'Public Sans', 'Helvetica', Arial, sans-serif
$secondaryFont: 'Public Sans', 'Helvetica', Arial, sans-serif
$baseTextSize: 1.6rem
$textColor: #222


// MARGINS
$margin: 2rem
$margin-2: 4rem


// BREAKPOINTS
$mobileS: "max-width: 374px"
$mobileM: "min-width: 375px"
$mobileL: "min-width: 425px"
$tablet: "min-width: 768px"
$laptop: "min-width: 1024px"
$laptopL: "min-width: 1280px"
$desktop: "min-width: 1440px"
$desktopL: "min-width: 1920px"